.log-in {
  margin: 0 auto;
}

.log-in h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 46px;
  text-transform: capitalize;
}

.log-in .subtitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}

.log-in .social {
  margin: 0 auto 35px;
}

.log-in .divider {
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
}

.log-in .form-wrapper,
.log-in .form {
  max-width: 350px;
  width: 350px;
  margin: 0 auto;
}

.log-in .form {
  margin-top: 35px;
}

.log-in .vertical-divider {
  display: none;
}

/* tablet large */
@media (min-width: 1024px) {
  .log-in .form-wrapper {
    display: flex;
    flex-direction: row-reverse;
    max-width: 850px;
    width: 850px;
    position: relative
  }

  .log-in .form {
    margin: 0 auto;
  }

  .log-in .input {
    max-width: 360px;
  }

  .log-in .social {
    margin: 22px auto 0;
  }

  .log-in .horizontal-divider {
    display: none !important;
  }

  .log-in .vertical-divider {
    display: block;
    margin: 0 !important;
  }
}